content/servers.cfg
*.tar.gz
*.DS_Store
*_orig.cpp
*.BAK
*config.cfg
*.o
*.exe
bin_unix
content/config.cfg
*/hate_client
*/hate_server
*/cube_client
*/cube_server
enet/*.a
content/screenshots/*
content/demos/*
.vscode
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
*heaptrack*
