# Server configuration file
name "HATE Server"
timelimit 10
maxplayers 16
allowvotes 1
votethreshold 0.6
allowmapvotes 1
allowmodevotes 1
allowkickvotes 1
maxping 0
botskill 50
botcount 4
port 28765
serverpass ""
rconpass ""
logfile ""
gamemode 0
# maprotation "flux", "drowned"
